.edit-timer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-timer-list-item label {
  width: 50%;
}

.workout-units {
  width: 20%;
}

.fa-icon:hover {
  cursor: pointer;
}

.plus-minus-buttons {
  background-color: transparent;
  border: none;
  padding: 0;
}

.plus-minus-buttons:active {
  color: var(--primary);;
}

.plus-minus-buttons:focus {
  background-color: transparent;
}

.number-input {
  border-bottom: none !important;
  margin-bottom: 0 !important;
  text-align: center;
}
