.timer-page-div {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer-labels-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-label {
  font-size: 2em;
  font-weight: bold;
}

.reps-sets-labels {
  font-size: 1.5em;
}

#stage {
  font-size: 3em;
}

.countdown-render {
  /* margin-bottom: 3em; */
}

#countdown {
  font-size: 6em;
}

.timer-button-div {
  display: flex;
  justify-content: space-evenly;
}

.timer-buttons {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
}

.timer-buttons:focus {
  background-color: var(--primary);
  color: var(--on-primary);
}

.timer-buttons:hover {
  cursor: pointer;
}
