:root {
  --primary: #ee6e73;
  --primary-light: #ff9fa2;
  --primary-dark: #b73d48;
  --on-primary: white;
  --on-primary-light: white;
  --on-primary-dark: white;
  --background: white;
  --on-background: black;
  --grey: #9e9e9e;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 360px !important;
  min-height: 100%;
  flex: 1;
  padding-top: 1em;
}
