:root {
  --primary: #ee6e73;
  --primary-light: #ff9fa2;
  --primary-dark: #b73d48;
  --on-primary: white;
  --on-primary-light: white;
  --on-primary-dark: white;
  --on-background: black;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 360px !important;
  min-height: 100%;
  flex: 1;
  padding-top: 2em;
  padding-bottom: 2em;
}