.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 360px !important;
  min-height: 100%;
  flex: 1;
  padding-top: 2em;
  padding-bottom: 2em;
}