.edit-timer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 43px;
}

.edit-timer-list-item label {
  width: 50%;
}

.fa-icon:hover {
  cursor: pointer;
}

.font-awesome-buttons {
  background-color: transparent;
  border: none;
  padding: 0;
}

.font-awesome-buttons:active {
  color: var(--primary);;
}

.font-awesome-buttons:focus {
  background-color: transparent;
}

.form-input:disabled {
  border-bottom: none !important;
  color: var(--on-background) !important;
}

.continuous-icon-div {
  width: 45%;
}

.button-div {
  display: flex;
  justify-content: space-evenly;
}

.form-button {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: 8px;
  padding: 1em 2em;
}

.form-button:focus {
  background-color: var(--primary);
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}