.edit-timer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 43px;
}

.edit-timer-list-item label {
  width: 30%;
}

.workout-units {
  width: 70%;
}

.form-input {
  margin-bottom: 0 !important;
  text-align: center;
}

.time-unit {
  width: 50% !important;
}

.time-units {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.form-input:disabled {
  border-bottom: none !important;
  color: var(--on-background) !important;
}
