footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--primary);
  color: var(--on-primary);
  margin-top: auto;
}

.footer-row {
  margin-bottom: 0;
}

.toby-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.toby-footer {
  height: 50px;
}
