footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ee6e73;
  color: white;
  margin-top: auto;
}

.footer-row {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
}

.links-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-div {
  display: flex;
  flex-direction: column;
}

.contact-div label {
  color: white;
}

footer .links-div-anchor {
  margin-left: 16px;
  color: white;
}

.social-icon {
  color: white;
}

/* .social-icon:hover {
  color: var(--primary-light);
} */

.font-awesome {
  font-size: 2em;
}