.load-list {
  max-height: 200px;
  overflow: auto;
}

.load-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.load-button {
  padding: 1em 2em;
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: 8px;
}

.load-button:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}