.collapsible-body-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.collapsible-body-div button {
  padding: 0.2em 0.5em;
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: 0.5em;
}

.collapsible-body-div button:hover {
  cursor: pointer;
}