nav {
  background-color: var(--primary);
  color: var(--background);
}

.brand-logo {
  font-weight: 200 !important;
  color: var(--background) !important;
}

.material-icons {
  color: var(--background);
}
